
div{
    background-color:yellowgreen;
    width: 500px;
    height: 500px;
    border: solid 2px red;
    
}
#box1{
    margin-left: 200px;
    margin-top: 100px;
}
#box2{
    margin-top: -503px;
    margin-left: 753px;
    
}
/* margin property used to align boxes in a specified position */
/* margintop,bottom,left,right */