@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Hurricane&family=Inspiration&family=League+Gothic&family=Oswald:wght@200&family=Parisienne&family=Permanent+Marker&family=Smokum&display=swap');

nav{
    position: fixed;
    background: #cf3333;
    width :100%;
    padding :10px 0;
    z-index: 12;
}
nav .menu{
    max-width: 1250px;
    /* background: red;  */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600; 
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    /* background: red; */
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}


.menu ul li a:hover{
    background: #fff;
    color: #000;
}
.img{
    background: url(./images1/coffeebg1.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;

}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(red, green, blue, alpha);
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    /* background: red; */
    padding: 0,20px;
    text-align: center;
}
.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;

}
.center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
}
.center .btns{
    margin-top: 20px;
}
.center .btns button{
    height: 55px;
    width:170px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.center .btns button:first-child{
    color: #fff;
    background: none;
}
.center .btns button:first-child:hover{
    background: #fff;
    color: #000;
}
.img1{
    height: 502px;
    width: 290px;
    border: solid 9px red;
    padding: 10px;
    text-align: center;
}
  
.b{
    background-color: bisque;
    text-align: center;
    color: #b31b1b;
    font-family: cursive;
    
    margin-top: 2px;
    margin-bottom: -100px;
    height: 39px;
}
.brands{
    background-image: url(./images1/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     /* height: 100px; */
    /* width: 100%; */
      /* margin-top: 100px; */
      /* margin-bottom: 100px; */

}

.b1{
    height: 137px;
    width: 200px;
    border: solid 3px brown;
    margin-top: 20px;
}
.b11{
    margin-left: 253px;
    margin-top: 53px;
    margin-right: 411px;
    margin-top: -142px;
    padding: 10px;
    width: 990px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: solid 3px rebeccapurple; */
    
}
.b2{
    height: 137px;
    width: 200px;
    border: solid 3px brown;
    margin-top: -10px;
}
.b21{
    margin-left: 253px;
    margin-top: -129px;
    margin-bottom: -142px;
    margin-right: 411px;
    width: 990px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: solid 3px rebeccapurple; */
}
.b3{
    height: 137px;
    width: 200px;
    border: solid 3px brown;
    margin-top: -55px ;
}
.b31{
    margin-left: 253px;
    margin-top: -129px;
    margin-bottom: -142px;
    margin-right: 411px;
    width: 990px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #cf3333;
    
    margin-top: 0px;
    
}
.c1{
    width: 300px;
    height: 100px;
    margin-left: 100px;
    margin-top: 100px;
}
.c2{
    width: 300px;
    height: 100px;
    margin-left: 100px;
    margin-top: 100px;
}
.c3{
    width: 300px;
    height: 100px;
    margin-left: 100px;
    margin-top: 100px;
}


h2{ 
    color: #fff;
    font-family: cursive;
    text-align: center;
    background-color: #cf3333;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.p11{
    width: 200px;
    height: 200px;
    
    
    /* padding: 20px;
    margin-top: 0px;
    margin-left: -3px; */
    
}
.p12{
    width: 200px;
    height: 200px;
    
    
    /* padding: 20px;
    margin-top: 0px;
    margin-left: -3px; */
}
.p13{
    width: 200px;
    height: 200px;
    
    
    /* padding: 20px;
    margin-top: 0px;
    margin-left: -3px;*/
} 
.p14{
    width: 200px;
    height: 200px;
    
    
    /* padding: 20px;
    margin-top: 0px;
    margin-left: -3px; */
}
.p15{
    width: 200px;
    height: 200px;
    
    
    /* padding: 20px;
    margin-top: 0px;
    margin-left: -3px;*/
} 
.p16{
    width: 200px;
    height: 200px;
    
    
    /* padding: 20px;
    margin-top: 0px;
    margin-left: -3px; */
}
.p1{
    text-align: center;
    align-items: center;
    background-color: bisque;
    margin-top: -21px;
    color: #fff;
}
.p2{
    text-align: center;
    background-color: #cf3333;
    margin-top: -21px;
    color: #fff; 
}
label{
    color: black;
}
.c4{
    color: #b31b1b;
}
.title{ 
    width: 1686px;
    height: 101px;
    /* background-color: blueviolet; */
    position: sticky;
    left: 50%; 
    top: 200px;
} 
button{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: black;
    color: #fff;


}
button:hover{
    background-color: #fff;
    color: black;
    width: 85px;
    height: 45px;

}
    


















    /* .ch{
    height: 502px;
    width: 420px;
    /* border: solid 9px red; 
    padding: 10px;
    text-align: center;
} */
/* .products{
    height: 684px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */
