body{
    background-image: url(./images1/coffeebackground.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;


}


/* h1{
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: white;
    background-image: url(./coffeeh1.jpg);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    width: 2253px;
    height: 427px; 
} */
.row{
    
    background-color: bisque;

}
.col{
    font-size: xx-large;
    font-family: 'Hubballi', cursive;

}
.col1{
    text-decoration: underline;
}
.col2{
    border: 5px black solid;
    
}
.col3{


}
.col4{

}