button{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: white;
    color:black;
    width: 85px;
    height: 45px;
    
}
/* hoverr property */