div{
    width: 200px;
    height: 200px;
    border: solid 2px black;
}
#d1{
    background-color: blue;
    position: absolute;
    left: 50%;
}
#d2{
    background-color: brown;
    position: absolute;
}