h1{
    color:white;
    text-align: center;
    background-color: blueviolet;
}

#d1{
    color:black;
    text-align: right;
}
#d2{
    background-color: blueviolet;
    color: white;
}
a{
    color: chocolate;
   
}

#d8{
    text-align: center;
}
.c1{
    text-align: center;
    color: black;
    background-color: blueviolet;
    list-style-position: inside;
}


h3{
    text-align: center;
}
.c2{
    text-align: center;
    background-color: blueviolet;
    color: black;
    list-style-position: inside;
}
#t1{
    background-color: bisque;
    color: brown;
}



